.project-wrapper {

box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
padding: 16px;
gap: 12px;
position: absolute;
background: #fff;
border: 1px solid #dfe1e6;
border-radius: 16px;
font-family: "Poppins", sans-serif;
width: 28rem;
z-index: 2;

/* position: fixed;
top: 0;
left: 0;
height: 100vh;
width: 100%;
z-index: 2; */
}

.work-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 48px 48px rgba(37, 47, 137, 0.08);
}

.work-card-cont {
    display: flex;
    border: 1px solid yellow;
    justify-content: space-between;
    width: 10rem;
    margin-left: 7rem;
}

.work-card-cont h2 {
    margin-left: 10rem;
}


@media screen and (min-width: 768px) {
    .project-wrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        gap: 12px;
        position: absolute;
        background: #fff;
        border: 1px solid #dfe1e6;
        border-radius: 16px;
        font-family: "Poppins", sans-serif;
        width: 70rem;
        margin-left: 12rem;
        height: 90vh;
        }
    .card-container {
        display: flex;
        box-shadow: 0px 48px 48px rgba(37, 47, 137, 0.08);
    }

    .work-title {
        display: flex;
        justify-content: space-between;
    }



    .work-card-cont {
        display: flex;
        flex-direction: row;
    }

    card
}