body {
  background-color: #e5e5e5;
}

header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
}

#logo {
  font-family: "poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 20px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  width: 76px;
  height: 20px;
  text-decoration: none;
}

#nav-items {
  display: none !important;
}

.header-info-secion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  background-image: url(img/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  top: 2.875rem;
  border-bottom-left-radius: 60px;
  height: 44.88rem;
}

.greeting-hearder {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  align-items: center;
  width: 327px;
  height: 9.37rem;
  margin: 20px;
  color: #172b4d;
  order: 0;
}

.greeting-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  width: 327px;
  height: 146px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 20px;
  color: #344563;
  order: 1;
}

.connect {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin: 0 20px;
  order: 2;
  line-height: 24px;
  color: #7f8cff;
  flex-grow: 0;
  overflow-x: hidden;
}

.twitter:hover,
.linkedin:hover,
.github:hover,
.medium:hover,
.angel:hover {
  color: #505f79;
  opacity: 0.5;
}

#social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: none;
  flex-grow: 0;
  list-style: none;
  width: 10.636rem;
  margin-left: -25px;
  gap: 8px;
  order: 3;
}

/* ----The Work Section */
.work {
  background: #e5e5e5;
  display: grid;
  grid-template-columns: 33.333%;
  margin-top: 5rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  width: 327px;
  height: 552px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px;
}

.project-img {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-tittle {
  width: 295px;
  height: 36px;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame2-img {
  width: 236px;
  height: 32px;
  padding: 0.5rem;
  margin-top: -30px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: -50px;
}

.description {
  width: 295px;
  height: 50px;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  flex-grow: 0;
}

.languages-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 20px;
  list-style: none;
  order: 2;
  margin-top: -110px;
  margin-bottom: 0;
  margin-left: -90px;
  margin-right: 0;
}

.html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.javascript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.see-button {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  color: #396df2;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  height: 48px;
  width: 127.04px;
  bottom: 10px;
  margin-left: -170px;
  margin-top: 70px;
  padding: 0;
  gap: 10px;
  letter-spacing: 0.48px;
  line-height: 24px;
}

.see-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.see-button:active {
  background-color: #2230d2;
  color: #fff;
}

/* About Section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  width: 370px;
  height: 1150px;
  background: #fff;
  gap: 12px;
  margin: 45px 6px 6px 6px;
}

.about-h1 {
  width: 327px;
  height: 101px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  flex-grow: 0;
  padding-top: 50px;
  margin: 6px;
}

.info-summary {
  width: 327px;
  height: 144px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: -15px;
  padding-top: 20px;
  color: #344563;
  flex: none;
  flex-grow: 0;
}

.connect2 {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  margin-left: -95px;
  margin-right: 109px;
  padding-top: 10px;
  margin-top: -20px;
  line-height: 24px;
  color: #7f8cff;
  flex-grow: 0;
  overflow-x: hidden;
}

#social-icons2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: none;
  flex-grow: 0;
  list-style: none;
  width: 10.636rem;
  margin-left: -175px;
  margin-right: 30px;
  margin-top: -5px;
  gap: 8px;
}

.see-button2 {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  color: #396df2;
  cursor: pointer;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  border-radius: 8px;
  bottom: 10px;
  margin-left: -170px;
  margin-right: -25px;
  margin-top: 10px;
  padding: 12px;
  gap: 10px;
  line-height: 24px;
  width: 165px;
  height: 54px;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.see-button2:hover {
  background-color: #6070ff;
  color: #fff;
}

.see-button2:active {
  background-color: #2230d2;
  color: #fff;
}

.skill-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  gap: 12px;
  margin-top: 40px;
}

.languages-header {
  height: 24px;
  left: 12px;
  right: 78px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-left: -130px;
  margin-right: 70px;
}

.down-arrow {
  position: absolute;
  margin-top: 30px;
  margin-right: -70px;
  margin-left: 200px;
  color: #5e6c84;
}

.language-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
  flex: none;
  flex-grow: 0;
}

.language-list {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-left: -40px;
  list-style-type: none;
  gap: 7px;
}

.js2 {
  width: 330px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  flex-grow: 0;
  margin-left: 8px;
}

.js-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  margin-left: 10px;
}

.js-text {
  position: absolute;
  height: 24px;
  margin-left: 70px;
  margin-top: -35px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.html2 {
  width: 330px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  flex-grow: 0;
  margin-top: 8px;
  margin-left: 10px;
}

.html-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  margin-left: 10px;
}

.html-text {
  position: absolute;
  height: 24px;
  margin-left: 70px;
  margin-top: -35px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.css2 {
  width: 330px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 8px;
  margin-left: 10px;
  flex: none;
  flex-grow: 0;
}

.css-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  margin-left: 10px;
}

.css-text {
  position: absolute;
  height: 24px;
  margin-left: 70px;
  margin-top: -35px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

#frameworks {
  width: 327px;
  height: 72px;
  list-style-type: none;
}

.frameworks-text {
  position: absolute;
  height: 24px;
  left: 50px;
  right: 78px;
  margin-top: -1px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.right-arrow {
  margin-top: 3px;
  margin-left: 275px;
  color: #5e6c84;
}

#skills {
  width: 327px;
  height: 72px;
  list-style-type: none;
}

.skills-text {
  position: absolute;
  height: 24px;
  left: 50px;
  right: 78px;
  margin-top: -1px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.right-arrow2 {
  margin-top: 3px;
  margin-left: 275px;
  color: #5e6c84;
}
