body {
  background-color: #fff;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
}

#logo {
  font-family: "poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 20px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  width: 76px;
  height: 20px;
  text-decoration: none;
}

.humburger {
  margin-right: 90px;
}

#nav-items {
  display: none !important;
}

.header-info-secion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  background-image: url(img/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 2.875rem;
  border-bottom-left-radius: 60px;
  height: 44.88rem;
}

.greeting-hearder {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  align-items: center;
  width: 327px;
  height: 9.37rem;
  margin: 20px;
  color: #172b4d;
  order: 0;
}

.greeting-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  width: 327px;
  height: 146px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 20px;
  color: #344563;
  order: 1;
}

.connect {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin: 0 20px;
  order: 2;
  line-height: 24px;
  color: #7f8cff;
  flex-grow: 0;
  overflow-x: hidden;
}

.twitter:hover,
.linkedin:hover,
.github:hover,
.medium:hover,
.angel:hover {
  color: #505f79;
  opacity: 0.5;
}

#social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: none;
  flex-grow: 0;
  list-style: none;
  width: 10.636rem;
  margin-left: -25px;
  gap: 8px;
  order: 3;
}
